# global
node_modules/
*.log

# secrets
backend/.env
frontend-next/.env.local

# builds/temp
frontend-next/.next/
frontend-next/out/
frontend/
backend/tmp/
backend/uploads/
backend/uploads_tmp/
backend/vectorstore.sqlite
backend/hazard.db